@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Merriweather:wght@400;700&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake,luxury,black,dark;
}



@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #3B82F6;     /* Blue-500 */
    --color-primary-hover: #2563EB;
   
  
    --color-secondary: #10B981;   /* Teal-Green (Green-500) */
    --color-secondary-hover: #059669;
  
    --color-text: #1F2937;        /* Gray-800 */
    --color-text-muted: #6B7280;  /* Gray-500 */
  
    --color-background: #F9FAFB;  /* Gray-50 */
    --color-surf: #FFFFFF;     /* Card background */
  
    --color-border: #E5E7EB;      /* Gray-200 */
    --color-accent: #6850fd;      /* Green-500 again for highlights */
  
    --color-error: #EF4444;       /* Red-500 */
    --color-success: #22C55E;     /* Green-500 */
  }


h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
  font-family: 'Merriweather', serif;
}

p {
  @apply font-sans;
  font-family: 'Inter', sans-serif;
}

li {
  @apply font-sans;
  font-family: 'Inter', sans-serif;
}
a {
  @apply font-sans;
  font-family: 'Inter', sans-serif;
}